@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Medium.eot');
	src: local('Raleway Medium'), local('Raleway-Medium'),
		url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Medium.woff2') format('woff2'),
		url('../fonts/Raleway-Medium.woff') format('woff'),
		url('../fonts/Raleway-Medium.ttf') format('truetype'),
		url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-SemiBold.eot');
	src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
		url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
		url('../fonts/Raleway-SemiBold.woff') format('woff'),
		url('../fonts/Raleway-SemiBold.ttf') format('truetype'),
		url('../fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.eot');
	src: local('Raleway'), local('Raleway-Regular'),
		url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Regular.woff2') format('woff2'),
		url('../fonts/Raleway-Regular.woff') format('woff'),
		url('../fonts/Raleway-Regular.ttf') format('truetype'),
		url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Light.eot');
	src: local('Raleway Light'), local('Raleway-Light'),
		url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Light.woff2') format('woff2'),
		url('../fonts/Raleway-Light.woff') format('woff'),
		url('../fonts/Raleway-Light.ttf') format('truetype'),
		url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.eot');
	src: local('Raleway Bold'), local('Raleway-Bold'),
		url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Bold.woff2') format('woff2'),
		url('../fonts/Raleway-Bold.woff') format('woff'),
		url('../fonts/Raleway-Bold.ttf') format('truetype'),
		url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', 'Trebuchet MS', sans-serif;
}

.main_content {
    /* width: 930px; --> Z moich obserwacji wynika, że tekst rozciąga się na szer. 1050px. */
    width: 1050px;
    margin: 0 auto;
    position: relative;
    /* border: 1px solid blue; */
}

.clearfix::before, .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    height: 100%;
    width: 100%;
}

header {
    /* width: 100%; - zakomentowałem skopiowaną wartość, używam jej wyżej >> w body */
    height: 40px;
    background-color: black;
}

header .main_content {
    padding: 10px 0;
    font-weight: 600;
    color: white;
}

.logo {
    /* color: white; */
    float: left;
    font-size: 0.95rem;
    font-weight: 500;
}

/* .logo span { */
span {
    color: #1dba9d;
    font-weight: bold; /* potrzebna grubsza czcionka  --
                          #2 Po namyśle, chyba jednak nie :P */
}


/* STYLOWANIE NAWIGACJI W >>HEADERZE<< ! */
nav {
    float: right;
}

header nav ul li {
    display: inline-block;
    margin: 0;
    font-size: 0.9rem
}

header nav ul li:first-child, header nav ul li:nth-child(2) {
    margin-right: 50px;
}

/* WYSKAKUJĄCE MENU */
.navi_popping {
    width: 120px;
    height: 96px;
    background: black;
    display: none;
    z-index: 2;
    position: absolute;
        bottom: -112px;
        right: 200px;
}

/* OSTYLOWANIE DZIÓBKA DO MENU */
.navi_triangle {
    width: 20px;
    height: 20px;
    background: black;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    text-transform: lowercase;
    position: absolute;
        bottom: 86px;
        right: 55px;
}

.navi_main:hover + .navi_popping {
    display: block;
}

.navi_main a {
    text-transform: uppercase;
}

.navi_popping ul li {
    padding-top: 11px;
    padding-left: 13px;
}

/* ZACHOWANIA LINKÓW W NAWIGACJI! - górny pasek */
header nav ul li a:link, header nav ul li a:visited {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: none;
}

/* header nav ul li a:active {
    color: red;
} */

/* TU KOŃCZY SIĘ SEKCJA HEADER! */

/* SEKCJA1 - ABOUT */

/* tło do sekcji:
background: -moz-linear-gradient(270deg, rgba(255,255,255,0.5) 0%, rgba(192,192,192,0.99) 99%, rgba(192,192,192,1) 100%); /* ff3.6+ */

#about {
    height: 500px;
    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #D1D0D8),
	color-stop(0.8, #FFFFFF)
);
background-image: -o-linear-gradient(top, #D1D0D8 0%, #FFFFFF 80%);
background-image: -moz-linear-gradient(top, #D1D0D8 0%, #FFFFFF 80%);
background-image: -webkit-linear-gradient(top, #D1D0D8 0%, #FFFFFF 80%);
background-image: -ms-linear-gradient(top, #D1D0D8 0%, #FFFFFF 80%);
background-image: linear-gradient(to top, #D1D0D8 0%, #FFFFFF 80%);
}
/* POWYŻEJ KOŃCZY SIĘ GRADIENT TŁA DO SEKCJI */
/* Dobra stronka: http://www.css3factory.com/linear-gradients/ */

.about-left {
    width: 470px;
    float: left;
}

.about-left img {
    height: 400px;
    margin-top: 60px;
}

.about-right {
    width: 578px;
    float: left;
}

.about-right h1 {
    margin-top: 130px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.about-right p {
    text-align: center;
    line-height: 25px;
    margin-bottom: 35px;
}

.button {
    width: 265px;
    height: 50px;
    background: #1dba9d;
    color: white;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    margin: auto;
}

/* KONIEC SEKCJI #ABOUT */

#gallery {
    height: 350px;
    background: white;
    margin-top: 30px;
    margin-bottom: 100px;
}

.gallery-image {
    float: left;
    /* width: 300px;
    height: 500px; */
}

.gallery-image img {
    display: block;
    width: 330px;
    height: 230px;
    /* float: left; */
    /* width: 300px;
    height: 300px;
    margin-top: 100px; */
}

.gallery-image:first-child, .gallery-image:nth-child(2) {
    margin-right: 30px;
    position: relative;
}

.opacity-bar {
    position: absolute;
    bottom: 15px;
    left: 0;
    margin: auto;
    height: 60px;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5); 
}

.gallery-text {
    width: 328px; /* zmienić -- 330 */
    height: 255px;
    padding: 13px;
    border: 1px solid #5a5a5a;
    float: left;
}

.gallery-text h3 {
    width: 140px;
    border-bottom: 4px solid #1dba9d;
    font-size: 16px;
}

.gallery-image h3 {
    width: 140px;
    border-bottom: 4px solid #1dba9d;
    font-size: 16px;
}

/* .gallery-text div {
    width: 140px;
    height: 22px;
    margin: 3px;
} */

.gallery-text p {
    color: #5a5a5a;
    font-weight: 300;
    font-size: 16px;
    margin-top: 15px;
}

/* KONIEC GALERII */

#price-list {
    height: 725px;
    background: #f1f1f1;
}

.price-title {
    width: 330px;
    border-bottom: 7px solid #1dba9d;
    margin-top: 47px;
    margin-bottom:;
    clear: both; /* CZY TO W OGÓLE POTRZEBNE? */
}

.price-title h2 {
    width: 140px;
    /* border-bottom: 4px solid #1dba9d; */
    color: #5c5c5c;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 3px;
}

.price-basic {
    width: 330px;
    height: 500px;
    background: #f9f9f9;
    border: 2px solid #d5d5d5;
    padding: 65px 20px 5px 20px;
    margin: 70px 0 70px 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #d5d5d5;
    text-align: center;
}

.offer1 {
    width: 326px;
    position: relative;
}

.empty_circle {
    width: 66px;
    height: 66px;
    position: absolute;
    top: -33px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background: white;
    border: 2px solid #d5d5d5;
    border-radius: 50%;
}

.the_dot {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background: #d5d5d5;
    border: 2px solid #d5d5d5;
    border-radius: 50%;
}

.offer1 h3 {
    color: #1dba9d;
    margin-top: -20px;
    margin-bottom: 20px;
    margin-left: -28px;
    font-size: 22px;
    font-weight: 500;
}

.big-circle {
    width: 130px;
    height: 130px;
    position: relative;
    margin: auto auto 40px 80px; /* Z jakichś powodów musi tak być; zbadać później. */
    background: white;
    border: 2px solid #d5d5d5;
    border-radius: 50%;
}

.big-circle h2 {
    /* color: #d5d5d5; */
}

span.number {
    color: #d5d5d5;
    display: inline-block;
    /* line-height: 90px; */
    margin-top: 30px;
    font-size: 42px;
    font-weight: bold;
}

span.cash {
    color: #d5d5d5;
    display: inline-block;
    margin-top: -10px;
    /* line-height: 5px; */
    font-size: 16px;
    position: relative;
        top: -20px;
        left: 0;
}

sup {
    vertical-align: super;
    font-size: 16px;
    display: inline-block;
    position: relative;
        top: -10px;
        left: 0;
    /* margin-top: -20px; */
    
}

.bar {
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #9a9a9a;
    font-size: 24px;
    position: relative;
        top: auto;
        left: -20px;
}

.bar.b-1 {
    background: #e4e4e4;
}

.bar.b-2 {
    background: #f1f1f1;
}

.button.small {
    width: 120px;
    height: 35px;
    background: #1dba9d;
    color: white;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    border-radius: 10px;
    position: relative;
        left: -20px;
        bottom: -90px;
    margin: auto;
}

.adin, .dwa {           /* divy z cenami */
    margin-right: 20px;
}

.button.small.but-2 {
    position: relative;
        left: -20px;
        bottom: -46px;
}

.button.small.but-3 {
    position: relative;
        left: -20px;
        bottom: -5px;
}

/* KONIEC SEKCJI CENOWEJ */

/* <section id="contact">
height: 560px;
margin-bottom (?): 15px;
text-color: #c4c4c4;

<div-inputs-contact-left>
    width: 690px;
</div-inputs>
<div-contact-right>
width: 360px;

3 x div >> red-chair, check-box, submit-button;
</section-contact> */

#contact {
    height: 560px;
    margin-bottom: 15px;
    color: #c4c4c4;
}

.inputs-contact-left {
    width: 686px;
    float: left;
    margin-top: 50px;
}

.contact-right {
    width: 360px;
    float: right;
    display: inline-block;
}

.usr-data {
    width: 625px;
    height: 60px;
    margin-bottom: 25px;
    font-size: 30px;
    padding-left: 15px;
}

textarea.usr-data {
    width: 625px;
    height: 190px;
    max-width: 625px;
    max-height: 190px;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 15px;
}

.div-red-chair {
    /* float: left; */
    padding-right: 50px;
    margin: 30px -20px 20px auto;
}

.personal-data {
    font-size: 22px;
    font-weight: 300;
}

.button a {
    color: white;
    text-decoration: none;
    /* vertical-align: middle; */
}

.button.contact-submit {
    height: 70px;
    width: 350px;
    margin: 25px 25px auto auto;
    font-size: 30px;
    font-weight: bold;
    line-height: 70px;
    
}

/* KONIEC CONTACT */

footer {
    height: 85px;
    color: #adadad;
    font-weight: 600;
}

.footer-left {
    float: left;
    margin-right: 380px;
    line-height: 35px;
}

.footer-social-media {
}

.footer-sc {
    display: inline-block;
    width: 35px;
    height: 35px;
    float: left;
    margin-right: 5px;
}

.footer-sc.flickr {
    background: url("../Specyfikacja/images/flickr.png");
}

.footer-sc.vime {
    background: url("../Specyfikacja/images/vimeo.png");
}

.footer-sc.pint {
    background: url("../Specyfikacja/images/pinterest.png");
}

.footer-sc.twitt {
    background: url("../Specyfikacja/images/twitter.png");
}

.footer-logo{
    float: right;
    line-height: 35px;
    font-size: 19px;
}

/* KONIEC KOŃCÓW */













