@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Medium.eot');
	src: local('Raleway Medium'), local('Raleway-Medium'),
		url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Medium.woff2') format('woff2'),
		url('../fonts/Raleway-Medium.woff') format('woff'),
		url('../fonts/Raleway-Medium.ttf') format('truetype'),
		url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-SemiBold.eot');
	src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
		url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
		url('../fonts/Raleway-SemiBold.woff') format('woff'),
		url('../fonts/Raleway-SemiBold.ttf') format('truetype'),
		url('../fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.eot');
	src: local('Raleway'), local('Raleway-Regular'),
		url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Regular.woff2') format('woff2'),
		url('../fonts/Raleway-Regular.woff') format('woff'),
		url('../fonts/Raleway-Regular.ttf') format('truetype'),
		url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Light.eot');
	src: local('Raleway Light'), local('Raleway-Light'),
		url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Light.woff2') format('woff2'),
		url('../fonts/Raleway-Light.woff') format('woff'),
		url('../fonts/Raleway-Light.ttf') format('truetype'),
		url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.eot');
	src: local('Raleway Bold'), local('Raleway-Bold'),
		url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Bold.woff2') format('woff2'),
		url('../fonts/Raleway-Bold.woff') format('woff'),
		url('../fonts/Raleway-Bold.ttf') format('truetype'),
		url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', 'Trebuchet MS', sans-serif;
}

.main_content {
    /* width: 930px; --> Z moich obserwacji wynika, że tekst rozciąga się na szer. 1050px. */
    width: 1050px;
    margin: 0 auto;
    position: relative;
    border: 1px solid blue;
}

.clearfix::before, .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    height: 100%;
    width: 100%;
}

header {
    /* width: 100%; - zakomentowałem skopiowaną wartość, używam jej wyżej >> w body */
    height: 40px;
    background-color: black;
}

header .main_content {
    padding: 10px 0;
    font-weight: 600;
    color: white;
}

.logo {
    /* color: white; */
    float: left;
    font-size: 0.95rem;
    font-weight: 500;
}

/* .logo span { */
span {
    color: #1dba9d;
    font-weight: bold; /* potrzebna grubsza czcionka */
}


/* STYLOWANIE NAWIGACJI W >>HEADERZE<< ! */
nav {
    float: right;
}

header nav ul li {
    display: inline-block;
    margin: 0;
    font-size: 0.9rem
}

header nav ul li:first-child, header nav ul li:nth-child(2) {
    margin-right: 50px;
}

/* WYSKAKUJĄCE MENU */
.navi_popping {
    width: 120px;
    height: 96px;
    background: black;
    display: none;
    z-index: 2;
    position: absolute;
        bottom: -112px;
        right: 200px;
}

/* OSTYLOWANIE DZIÓBKA DO MENU */
.navi_triangle {
    width: 20px;
    height: 20px;
    background: black;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    text-transform: lowercase;
    position: absolute;
        bottom: 86px;
        right: 55px;
}

.navi_main:hover + .navi_popping {
    display: block;
}

.navi_main a {
    text-transform: uppercase;
}

.navi_popping ul li {
    padding-top: 11px;
    padding-left: 13px;
}

/* ZACHOWANIA LINKÓW W NAWIGACJI! - górny pasek */
header nav ul li a:link, header nav ul li a:visited {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: none;
}

/* header nav ul li a:active {
    color: red;
} */

/* TU KOŃCZY SIĘ SEKCJA HEADER! */

/* SEKCJA1 - ABOUT */

/* tło do sekcji:
background: -moz-linear-gradient(270deg, rgba(255,255,255,0.5) 0%, rgba(192,192,192,0.99) 99%, rgba(192,192,192,1) 100%); /* ff3.6+ */

#about {
    height: 500px;
    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #D1D0D8),
	color-stop(0.8, #FFFFFF)
);
background-image: -o-linear-gradient(top, #D1D0D8 0%, #FFFFFF 80%);
background-image: -moz-linear-gradient(top, #D1D0D8 0%, #FFFFFF 80%);
background-image: -webkit-linear-gradient(top, #D1D0D8 0%, #FFFFFF 80%);
background-image: -ms-linear-gradient(top, #D1D0D8 0%, #FFFFFF 80%);
background-image: linear-gradient(to top, #D1D0D8 0%, #FFFFFF 80%);
}
/* POWYŻEJ KOŃCZY SIĘ GRADIENT OD TŁA SEKCJI */
/* Dobra stronka: http://www.css3factory.com/linear-gradients/ */

.about-left {
    width: 470px;
    float: left;
}

.about-left img {
    margin-top: 60px;
}

.about-right {
    width: 578px;
    float: left;
}

.about-right h1 {
    margin-top: 130px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.about-right p {
    text-align: center;
    line-height: 25px;
    margin-bottom: 35px;
}

.button {
    width: 265px;
    height: 50px;
    background: #1dba9d;
    color: white;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    margin: auto;
}

/* KONIEC SEKCJI #ABOUT */

/* <section id="gallery">
height: 350px background: white; 
margin-top: 30px; margin-bottom: 100px;

<div class="gallery_image"> width: 330px; height: 230px;
margin-right: 30px;

    <opacity-bar> height: 60px;
        <green-border> height: 7px;

<div class="gallery_text">
dziedziczy po 'gallery_image'; kolor tekstu: !!!#5a5a5a;!!!       
</section-gallery> */

#gallery {
    height: 350px;
    background: white;
    margin-top: 30px;
    margin-bottom: 100px;
}
















