@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Medium.eot');
	src: local('Raleway Medium'), local('Raleway-Medium'),
		url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Medium.woff2') format('woff2'),
		url('../fonts/Raleway-Medium.woff') format('woff'),
		url('../fonts/Raleway-Medium.ttf') format('truetype'),
		url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-SemiBold.eot');
	src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
		url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
		url('../fonts/Raleway-SemiBold.woff') format('woff'),
		url('../fonts/Raleway-SemiBold.ttf') format('truetype'),
		url('../fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.eot');
	src: local('Raleway'), local('Raleway-Regular'),
		url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Regular.woff2') format('woff2'),
		url('../fonts/Raleway-Regular.woff') format('woff'),
		url('../fonts/Raleway-Regular.ttf') format('truetype'),
		url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Light.eot');
	src: local('Raleway Light'), local('Raleway-Light'),
		url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Light.woff2') format('woff2'),
		url('../fonts/Raleway-Light.woff') format('woff'),
		url('../fonts/Raleway-Light.ttf') format('truetype'),
		url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.eot');
	src: local('Raleway Bold'), local('Raleway-Bold'),
		url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Bold.woff2') format('woff2'),
		url('../fonts/Raleway-Bold.woff') format('woff'),
		url('../fonts/Raleway-Bold.ttf') format('truetype'),
		url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', 'Trebuchet MS', sans-serif;
}

.main_content {
    /* width: 930px; --> Z moich obserwacji wynika, że tekst rozciąga się na szer. 1050px. */
    width: 1050px;
    margin: 0 auto;
    position: relative;
    border: 1px solid blue;
}

.clearfix::before, .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    height: 100%;
    width: 100%;
}

header {
    /* width: 100%; - zakomentowałem skopiowaną wartość, używam jej wyżej >> w body */
    height: 40px;
    background-color: black;
}

header .main_content {
    padding: 10px 0;
    font-weight: 600;
    color: white;
}

.logo {
    /* color: white; */
    float: left;
    font-size: 0.95rem;
    font-weight: 500;
}

.logo span {
    color: #1dba9d;
    font-weight: bold; /* potrzebna grubsza czcionka */
}


/* STYLOWANIE NAWIGACJI W >>HEADERZE<< ! */
nav {
    float: right;
}

header nav ul li {
    display: inline-block;
    margin: 0;
    font-size: 0.9rem
}

header nav ul li:first-child, header nav ul li:nth-child(2) {
    margin-right: 50px;
}

/* ZACHOWANIA LINKÓW W NAWIGACJI! */
header a:link, header a:visited {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

header a:hover {
    text-decoration: none;
}

header a:active {
    /* color: red; - trzeba tu zrobić wyskakujące menu */
}

/* WYSKAKUJĄCE MENU */
.navi_menu {
    width: 120px;
    height: 96px;
    background: black;
    position: absolute;
        bottom: -112px;
        right: 185px;
}


/* TU KOŃCZY SIĘ SEKCJA HEADER! */